*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --black-color:black;
    --white-color:white;
    --lightgrey-color:rgb(193, 193, 193);
    --grey-color:rgb(122, 122, 122);
    --darkgrey-color:rgb(56, 56, 56);
}

header{

}
header>.container{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_logo{
    width: 377px;
}
.header_logo>img{
    width: 100%;
}
.active{
    color: var(--black-color);
}
.hr{
    width: 75%;
    background-color: var(--lightgrey-color);
    height: 0.5px;
}
nav{
    position: -webkit-sticky;
    position: sticky;
    display: block;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 5px 0px rgb(205, 205, 205);
    z-index: 1;
    background-color: var(--white-color);

}
nav>ul{
    display: flex;
    padding: 10px;
    gap: 10px;
}
nav>ul>li{    
    padding: 10px 0px;
}
nav>ul>li>a{
    color: var(--grey-color);
    padding: 10px;

}
nav>ul>li>a:hover{
    color: var(--darkgrey-color);
}
.pop_number{
    position: absolute;
    border-radius: 50%;
    width: 20px;
    aspect-ratio: 1;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    top: -6px;
    right: -6px;
    color: var(--white-color);
    justify-content: center;
    align-items: center;
    background-color: var(--black-color);
}
.pop{
    position: relative;
}


/* */
section.carousel{
    height: 680px;
    border: solid;
}
.carousel>div{
    border: solid;
    padding: 20px;
    background-color: goldenrod;
    overflow: auto;
    display: flex;
    position: relative;
    height: inherit;
    

}
.carousel_box{
    border: solid;
    width: 100%;
    flex-shrink: 0;
    background-color: wheat;

}
